{% extends 'newspaper/base.html' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}The BD Times{% endblock  %}</title>
        <link rel="icon" type="image/x-icon" href="{% block link %} https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0GKMjl7r9aCnRREu6lcDW4l0m62SzjvO_HA&usqp=CAU{% endblock %} ">
    </head>
    <body>
        {% block body %}
        
        <h1 class="p-5 m-5"> {{news}} </h1>
        {% endblock  %}
        
    </body>
</html>